/* variables */
:root {
    --light: whitesmoke;
    --dark: darkgray;
    --color: darkorange;
}

/* 12 column responsive layout */
* {
    box-sizing: border-box;
    float: left;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.row {
}

/* grid layout module */
.grid-container-1 {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 100%;
}

.grid-container-2 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

[class*="grid-col-"] {
    border-left: 1px solid var(--dark);
    border-top: 1px solid var(--dark);
    padding: 1px;
}

.grid-col-1 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.grid-col-2 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.grid-col-3 {
    grid-column-start: 3;
    grid-column-end: 4;
}

.grid-col-4 {
    grid-column-start: 4;
    grid-column-end: 5;
}

.grid-col-5 {
    grid-column-start: 5;
    grid-column-end: 6;
}

.grid-col-6 {
    grid-column-start: 6;
    grid-column-end: 7;
}

.grid-col-7 {
    grid-column-start: 7;
    grid-column-end: 8;
}

.grid-col-8 {
    grid-column-start: 8;
    grid-column-end: 9;
}

[class*="day-col-"] {
    border-left: 1px solid var(--dark);
    border-top: 1px solid var(--dark);
    padding: 5px;
}

.day-col-1 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.day-col-2 {
    grid-column-start: 2;
    grid-column-end: 9;
}

.day-col-3 {
    grid-column-start: 7;
    grid-column-end: 9;
    /* need to remove lines from bottom */
}

[class*="year-col-"] {
    border-left: 1px solid var(--dark);
    border-top: 1px solid var(--dark);
    padding: 5px;
}

.year-col-1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.year-col-2 {
    grid-column-start: 3;
    grid-column-end: 5;
}

.year-col-3 {
    grid-column-start: 5;
    grid-column-end: 7;
}

.year-col-4 {
    grid-column-start: 7;
    grid-column-end: 9;
    border-right: 1px solid var(--dark);
}

.btm-row {
    border-bottom: 1px solid var(--dark);
}

.last-col {
    border-right: 1px solid var(--dark);
}

/* not currently used */
/* collapsible sidepanel menu */
.sidepanel {
    height: 100%;
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

/* sidepanel links */
.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidepanel a:hover {
    color: #f1f1f1;
}

/* close button */
.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* toggle sidepanel button */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

.menu {
    background-color: var(--dark);
    padding: 0px;
    height: 100%;
}

.menu-header {
    padding: 20px;
}

/* collapsible menu sections */
/* collapse trigger button */
.collapsible, .menu-button {
    background-color: var(--dark);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    background-color: var(--color);
    color: white;
}

.link-button:link, .link-button:visited {
    background-color: var(--dark);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    text-decoration: none;
    font-size: 20px;
}

.menu-button:hover, .link-button:hover {
    background-color: var(--color);
    color: white;
}

/* collapsible content. Note: hidden by default */
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: whitesmoke;
    width: 100%;
}

/* main */
h1 {
    color: var(--color);
}

h2 {
    color: white;
}

.main {
    padding: 5px;
}

.calendar-header {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 15px;
}

.month {
    padding: 0px;
    display: inline-block;
    padding-left: 90px;
}

.month > h1 {
    margin: 0px;
}

.nav {
    padding: 0px;
    display: inline-block;
}

.views-nav {
    padding: 0px;
}

.views {
    padding: 0px;
    text-align: right;
}

.views > button, .nav > button, .account-buttons > button, input[type=button], #addGroup, .home-div > a, .register-button, .login-button {
    background-color: var(--color);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 0px;
    float: right;
}

.views > button:hover, .nav > button:hover, .account-buttons > button:hover, input[type=button]:hover, #addGroup:hover, .home-div > a:hover, .login-button:hover, .register-button:hover {
    background-color: var(--light);
    color: var(--dark);
}

.calendar {
    height: 100%;
    width: 100%;
}

.day {
    color: var(--color);
    text-align: center;
    font-size: 15px;
    padding: 5px;
    background-color: var(--light);
}

.date {
    text-align: right;
    font-size: 12px;
    padding-top: 5px;
    padding-right: 5px;
    margin-bottom: 5px;
    height: 20px;
    width: 100%;
}

.event-area {
    height: 60px ;
    overflow: hidden;
    width: 100%;
}

.event {
    color: white;
    width: 100%;
    max-height: 16px;
    overflow: hidden;
    padding: 1px;
    margin-bottom: -16px;
    text-indent: 5px;
    font-size: 12px;
}

.time {
    text-align: center;
    font-size: 15px;
}

fieldset {
    background: var(--light);
    height: 250px;
    width: 250px;
}

form {
    display: inline-block;
}

.add-event, .groups, .settings {
    padding-top: 15px;
    padding-bottom: 15px;
}

.add-event > label, .register > label {
    margin-right: 5px;
}

textarea {
    margin-bottom: 10px;
}

input[type=button] {
    margin-top: 10px;
}

#addGroup {
    margin-top: 10px;
}

.settings {
    width: 100%;
}

.details {
    background: var(--light);
    height: 250px;
    width: 250px;
    padding: 5px 15px 15px 15px;
}

/* not currently used ----------- */
/* modals */
/* background */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* modal content */
.modal-content, .add-event-modal {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* modal close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* ------------------------------- */

/* account.html */
.account {
    padding-left: 30px;
}

.account > h1 {
    margin: 0px;
}

.account-details {
    width: 100%;
}

.account-heading {
    font-size: 20px;
}

.account-info {
    font-size: 20px;
    text-indent: 15px;
    color: var(--dark);
}

.account-buttons > button, .home-div > a, .register > button {
    margin-right: 10px;
}

body {
    height: 100%;
    font-family: Helvetica, Arial, sans-serif;
}

html {
    height: 100%;
}

.home {
    width: 400px;
    height: 300px;
    margin-left: 400px;
}

.register, .login {
    margin-left: 400px;
}

.home-body, .reg-body, .log-body {
    background-color: var(--light);
    padding-top: 20px;
}

.login > label, .register > label {
    margin-right: 5px;
}
