{% extends 'head_layout.html' %}

{% block body %}
<body class="home-body">
    <div class="home">
        <h1>Account Details</h1>
    </div>
        
    <div class="account-details">
        <b><p class="account-heading">Username:</p></b>
        <!--SAJ: Update to feed live data to <p> class needs: a) to be empty string can't be null b) have id-->
        <p class="account-info" id="username" >" "</p> 
    </div>
    <div class="account-details">
        <b><p class="account-heading">First Name:</p></b>
        <!--SAJ: Update to feed live data to <p> class needs: a) to be empty string can't be null b) have id-->
        <p class="account-info" id="firstname">" "</p>
    </div>
    <div class="account-details">
        <b><p class="account-heading">Last Name:</p></b>
        <!--SAJ: Update to feed live data to <p> class needs: a) to be empty string can't be null b) have id-->
        <p class="account-info" id="lastname">" "</p>
    </div>
    <div class="account-details">
        <b><p class="account-heading">Email:</p></b>
        <!--SAJ: Update to feed live data to <p> class needs: a) to be empty string can't be null b) have id-->
        <p class="account-info" id="useremail">" "</p>
    </div>
    <div class="account-details">
        <b><p class="account-heading">Password:</p>
        </b>
        <p class="account-info">********</p>
    </div>

    <!-- SAJ This can be moved and be its own page, I needed this here so I could test Change Password feature.  If I can't get it to work, We can delete the entire thing.  Needs Styling-->
    <form class="updatepassword" name='updatepsw' onsubmit="return checkPassword()" action="{{url_for('changepassword')}}" method="POST">       
        <label for="psw" hidden id="tpsw" ><b>Password:</b><br></label>
        <input type="password" hidden id="vpsw" placeholder="Enter Password" name="psw" minlength="8" required><br><br>
        <label for="repsw"  hidden id="trepsw"><b>Re-enter Password:</b><br></label>
        <input type="password" hidden id="vrepsw" placeholder="Re-enter Password" name="repsw" minlength="8" required>
        <span hidden id='notsame' style='font-size: 20px; color:red; padding: 5px'>Passwords do not match</span><br><br>
        <label for="blanklines"  hidden id="lblank"><b></b><br><br></label>
        {{msg}}
    </form>
    
    <!-- this button should change p tags with class="account-info" to input fields so the user can update their information in the database -->
    <div class="account-buttons">
        <button class="home-btn" id='month' onclick='viewCh(this)'>Back to calendar</button>
        <button  class="home-btn" type="button">Update account</button>
    </div> <!-- /account-buttons -->

<script>
    user={{user|tojson}} 
</script>

<!-- link any .js file necessary -->
<script src="#"></script>
    
</body>
{% endblock body %}