<!DOCTYPE html>
<html>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <body>
        <table style="width: 100% ; height:10%;text-align: center;">
            <tr>
                <td>
                    <button onclick= "theBigDay.setMonth(theBigDay.getMonth()-1);showMoCal(theBigDay)"> back</button> 
                </td>
                <td>
                    <h4 id='calHeader'></h4>
                </td>
                <td> 
         <button onclick= "theBigDay.setMonth(theBigDay.getMonth()+1);showMoCal(theBigDay) ">forward</button> 
            </tr>    
        </table >
        <table id ='mainT' style='border: 2px solid black; width: 100% ;border-collapse: collapse ', id='t1'>
            <thead id='am' style='border: 2px solid black;'>

            </thead>
            


        </table >
        <script>
            var theBigDay = new Date();
           
            const week = ['SUN',  'MON','TUE','WED','THU','FRI','SAT'];
            for (var i=0 ; i<7; i++){ 
                $("#am").append("<td style='height:40px; text-align: center;' >"+ week[i]+"</td>")
            }    
            
            for (var i=0 ; i<5; i++){
                var stri="row"+i.toString();
                elem="<tr ID="+stri+"></tr>"
                $('#mainT').append(elem)
                for (var j=0 ; j<7; j++){
                    var e= document.createElement('td')
                    e.setAttribute('id',(7*i+j).toString())
                    e.setAttribute('style','height:80px ;vertical-align: top;padding: 15px;border: 1px solid black;')
                    $('#'+stri).append(e)
                }
            }
            showMoCal(theBigDay)
            
            function showMoCal(x){
                
                mstr=x.toString().split(" ")[1]+" "+x.toString().split(" ")[3]
                document.getElementById('calHeader').innerHTML=mstr;
                var m = new Date(x)
                m.setDate(1)
                a=1-m.getDay()
                m.setDate(a)
                for (var i=0;i<35;i++){
                    $("#"+i.toString()).attr('name',d2s(m))
                    $("#"+i.toString()).css('background-color', '#f7f7f7')
                    $("#"+i.toString()).html(m.getDate())
                    m.setDate(m.getDate()+1)
                          
                }  
                
                todayname= '[name ='+d2s(new Date())+']'   
                $(todayname).css('background-color', '#777777')

            }   
            
            
            $(document).ready(function(){
            $('#mainT').children().children().mouseenter(function(){
                a=$(this).css('background-color')
                $(this).css('background-color', '#aaaaaa');
                
            })
                
            })
            $(document).ready(function(){
            $('#mainT').children().children().mouseleave(function(){
                $(this).css('background-color', a);})
            })

            function dt2s(x){                //convert to yyyy-mm-ddThh:mm   2021-02-26T20:52
               return new Date(x.getTime() - (x.getTimezoneOffset() * 60000 )).toISOString().slice(0,16)
            }
            function d2s(x){                    //convert to yyyy-mm-dd
                return dt2s(x).split('T')[0]
            }
            function t2s(x){                    //convert to  hh:mm  23:48
                return dt2s(x).split('T')[1]
            }
            function s2dt(x){           //
                return(new Date(x))
            }

            
        </script>
        
        
        

              
    </body>
</html>