<!DOCTYPE html>

<head>
    {% block head %} {% endblock %}



    <!--<title>{% block title %}{% endblock %} - My Webpage</title>-->
    <title>Pro Calendar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- <script src="{{url_for('static', filename = 'script.js')}}"></script>-->
  
</head>
<body class="row body">
    <div class="col-3 menu">
        <div class="row menu-header">
            <h2>Pro Calendar</h2>
            <button>Close menu</button>
        </div>
        <!-- add event collapsible section -->
        <button type="button" class="collapsible">Add Event</button>
        <div class="add-event content">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" ><br>
            <label for="date"  >Date:</label>
            <input type="date" id="date" name="date" ><br>
            <label for="start">START Time:</label>
            <select id="start" name="start" value='00:00' onchange="changeEnd()">
                <option ></option>
            </select> <br>
            <label for="end">End Time:</label>
            <select id="end" name="end" value='00:00' ></select> <br>
            <label for="group">Group:</label>
            <select id="group_list" onchange="changroup()">
                <option id=grList-0></option>
            </select><br>
            <label for="descr">Description:</label>
            <textarea id="descr" name="descr" rows="5" cols="25"></textarea><br>
            <label for="reminder">Reminder:</label>
            <select id="reminder" name="reminder"  >
                <option ></option>
            </select> <br>

            <input type="button" onclick="checkEvent()" value="Submit" id="addEventBtn">
        </div>
       
        <!-- groups collapsible section -->
        <button type="button" class="collapsible">Groups</button>
        <div class="groups content" id=groupm>
            <div id = 'group-0'>
                <input name=showG type="checkbox" onchange='changeshow(this)' >
                <input  name=nameG type="text" size= 18 disabled='true' value=""></input>
                <input  name= colorG type=color  disabled='true'></input>
                <button  name=delGroup onclick='delGroup(this)'>Del</button>
                <button  name=edGroup onclick='editGroup(this)'>Edit</button>                
            </div>
            <div id='addGr'>
                
                <input id="addG-Name"size=10 type="text" hidden value=""></input>
                <input id="addG-Color"size=1 type='color'hidden ></input>
                <button  id='addGroup' onclick='addGroup()'>New Group</button>
                <button id='addG-Cancel' hidden onclick='adcGrCancel()'>*</button>
                <span style="color:red;font:6px" hidden id='noGroup'>fill name box</span>
               
                
            </div>
            
           
        </div>
        <!-- settings collapsible section -->
        <button type="button" class="collapsible">Settings</button>
        <div class="settings content">
            <!-- themes pop-up-->
            <div>
                <input type="radio" id="theme1" name="theme">
                <label for="theme1">Theme 1</label>
                <input type="radio" id="theme2" name="theme2">
                <label for="theme2">Theme 2</label>
                <input type="radio" id="theme3" name="theme3">
                <label for="theme3">Theme 3</label>
            </div>
            <!-- start of week pop-up-->
            <div id='startWeek'>
                <p>Start of week</p>
                <input type="radio" id="startWeek5" name="first_day" Value=5>
                <label for="startWeek5">Saturday</label>
                <input type="radio" id="startWeek6" name="first_day" Value=6 >
                <label for="startWeek6">Sunday</label>
                <input type="radio" id="startWeek0" name="first_day" Value=0>
                <label for="startWeek0">Monday</label>
                
            </div>
            <!-- week numbers pop-up-->
            <div>
                <p>Show week numbers</p>
                <input type="radio" id="num-wk-yes" name="num-wk-yes">
                <label for="num-wk-yes">Yes</label>
                <input type="radio" id="num-wk-no" name="num-wk-no">
                <label for="num-wk-no">No</label>
            </div>
            <!-- time format pop-up-->
            <div id='timeSlot'>
                <p>Time Slot</p>
                <input type="radio" id="t15" name="timeInt"value=15>
                <label for="t15">15 Min</label>
                <input type="radio" id="t30" name="timeInt"value=30>
                <label for="t30">30 Min</label>
                <input type="radio" id="t60" name="timeInt" value=60>
                <label for="t60">1 hour</label>
            </div>
        </div>
    </div> <!-- /menu -->
    <div class="col-9 views">
        <button id='day'onclick='viewCh(this)'>Day</button>
        <button id='week'onclick='viewCh(this)'>Week</button>
        <button id='month'onclick='viewCh(this)'>Month</button>
        <button id='year'onclick='viewCh(this)'>Year</button>
    </div>  



    {% block content %}
    {% endblock %}
   
    
</body>
</html>
<script>
    user={{user|tojson}} 
    
</script>
<script src="{{url_for('static', filename = 'script.js')}}"></script>

{% block footer %}
{% endblock %}


</html>    