<!DOCTYPE html>
<html>
    <body>
        <form action="{{url_for('logi')}}"  method="POST">
            <label for="uname"><b>Username</b></label><br>
            <input type="varchar" placeholder="Enter Username" name="uname" minlegth='5' required onblur="check1()"><br><br>
             

            <label for="psw"><b>Password</b></label><br>
            <input type="password" placeholder="Enter Password" name="psw" minlength="8" required><br><br>
                     
           

            <input type="submit" value="LOG IN"/></br>
            <h4>{{msg}}</h4>
           
        </form>
        <h3><a href="/register">register</a></h3>
    </body>
    <script>
        function check1(){
            

        }
    </script>
</html>