{% extends 'head_layout.html' %}

{% block body %}
<body class="row body">
    <div class="col-3 menu">
        <div class="row menu-header">
            <h2>Pro Calendar</h2>
            <!--<button>Close menu</button>-->
        </div>
        
        <!-- add-event collapsible section -->
        <button type="button" class="collapsible">Add Event</button>
        <div class="add-event content">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title"><br><br>
            <label for="date">Date:</label>
            <input type="date" id="date" name="date"><br><br>
            <label for="start">Start Time:</label>
            <select id="start" name="start" value='00:00' onchange="changeEnd()">
                <option ></option>
            </select> <br><br>
            <label for="end">End Time:</label>
            <select id="end" name="end" value='00:00' ></select><br><br>
            <label for="group">Group:</label>
            <select id="group_list" onchange="changroup()">
                <option id=grList-0></option>
            </select><br><br>
            <label for="descr">Description:</label>
            <textarea id="descr" name="descr" rows="5"></textarea><br><br>
            <label for="reminder">Reminder:</label>
            <select id="reminder" name="reminder"  >
                <option ></option>
            </select><br><br>
            <input class="sml-btn" type="button" onclick="checkEvent()" value="Submit" id="addEventBtn">
        </div>
       
        <!-- groups collapsible section -->
        <button type="button" class="collapsible">Groups</button>
        <div class="groups content" id=groupm>
            <div id='group-0'>
                <!--BUG FIX (SAJ-04/24/2021): Description: because <label class="container"> is removed these 3 <br> need to be here -->
                <!-- BUG FIX (SAJ-04/24/2021): Description: Returned this original code section 
                    Placed "class=container" within the <div> this so that the groups when checked 
                    and unchecked toggle the events on the calendar on and off to match the group settings
                    Please do not touch or remove any of these changes
                    the onchange="changeshow(this)"  The "THIS" is important and can not be nested inside any:
                    <label> or other any other <> 
                    
                <label class="container">
                    <input id= "sajCheckBox" type="checkbox" checked="checked"  name="showG" onchange="changeshow(document.getElementById('sajCheckBox'))">
                    <span class="checkmark"></span>
                </label>
                -->
                <input class="container" name=showG type="checkbox" onchange='changeshow(this)' >
            
                <input name=nameG type="text" disabled='true' value="">
                <input name= colorG type=color  disabled='true'>

                
                <button class="sml-btn" name=delGroup onclick='delGroup(this)'>Del</button>
                <button class="sml-btn" name=edGroup onclick='editGroup(this)'>Edit</button><br> <!--BUG FIX (SAJ-04/24/2021): Description: added <br> in order to make stuff display NEW GROUP button correctly-->
            </div>
            <div id='addGr'>
                <input id="addG-Name"size=10 type="text" hidden value="">
                <input id="addG-Color"size=1 type='color'hidden>
                <button class="sml-btn"  id='addGroup' onclick='addGroup()'>New Group</button>
                <button id='addG-Cancel' onclick='adcGrCancel()' hidden>Cancel</button>
                <span style="color:red;font:6px" hidden id='noGroup'>Field is empty</span>
            </div>
        </div>
        
        <!-- settings collapsible section -->
        <button type="button" class="collapsible">Settings</button>
        <div class="settings content">
            <!-- themes -->
            <!-- <div>
                <input type="radio" id="theme1" name="theme">
                <label for="theme1">Theme 1</label>
                <input type="radio" id="theme2" name="theme2">
                <label for="theme2">Theme 2</label>
                <input type="radio" id="theme3" name="theme3">
                <label for="theme3">Theme 3</label>
            </div> -->
            <!-- start of week -->
            <div id='startWeek'>
                <p>Start of week</p><br><br><br>
                <!-- BUG FIX (SAJ-04/24/2021): Description: Returned this original code section 
                    Placed "class=container" within each div and removed: <div class="set">
                    this so that the settings are read correctly for the user table and display
                    please do not touch or remove any of these changes -->
                <!--<div class="set">--> 

                    <input type="radio"  class="container" id="startWeek6" name="first_day" Value=6 >
                    <label for="startWeek5"  class="container">Sunday</label><br><br>
                    
                    <input type="radio"  class="container" id="startWeek0" name="first_day" Value=0 >
                    <label for="startWeek6"  class="container">Monday</label><br><br>
                    
                    <input type="radio"  class="container" id="startWeek5" name="first_day" Value=5>
                    <label for="startWeek0"  class="container" >Saturday</label><br><br>
                    
                    <!---BUG FIX (SAJ-04/24/2021): Description: This is the removed code:
                    <label class="container">Sunday
                        <input type="radio" id="startWeek6" name="first_day" Value=6>
                        <span class="radio-btn"></span>
                    </label>
                    
                    <label class="container">Monday
                        <input type="radio" id="startWeek0" name="first_day" Value=0>
                        <span class="radio-btn"></span>
                    </label>
                    
                    <label class="container">Saturday
                        <input type="radio" id="startWeek5" name="first_day" Value=5>
                        <span class="radio-btn"></span>
                    </label>
                    -->
                <!--</div>-->
            </div>
            <!-- week numbers -->
            <!-- <div>
                <p>Show week numbers</p>
                <input type="radio" id="num-wk-yes" name="num-wk-yes">
                <label for="num-wk-yes">Yes</label>
                <input type="radio" id="num-wk-no" name="num-wk-no">
                <label for="num-wk-no">No</label>
            </div> -->
            <!-- time format -->
            <div id='timeSlot'>
                <p>Time Slot</p><br><br><br>
                    <!-- BUG FIX (SAJ-04/24/2021): Description: Returned this original code section 
                    Placed "class=container" within each div and removed: <div class="set">
                    this so that the settings are read correctly for the user table and display
                    please do not touch or remove any of these changes -->
               <!--<div class="set"> --> <!--BUG FIX (SAJ-04/24/2021): Description: commented this out so settings work -->

                    <input type="radio"  class="container" id="t15" name="timeInt"value=15>
                    <label for="t15"  class="container">15 Min</label><br><br>
                    
                    <input type="radio"  class="container" id="t30" name="timeInt"value=30>
                    <label for="t30"  class="container">30 Min</label><br><br>
                    
                    <input type="radio"  class="container" id="t60" name="timeInt" value=60>
                    <label for="t60"  class="container">1 hour</label><br><br>

                    <!--BUG FIX (SAJ-04/24/2021): Description:The change made to style the settings section caused the radio
                        buttons not to load the user's setttings stored in the user table.  I removed this code and modified the
                        original code to place the class=container needed for styling 
                    <label class="container">15 min
                        <input type="radio" id="t15" name="timeInt" Value=15>
                        <span class="radio-btn"></span>
                    </label>
                    
                    <label class="container">30 min
                        <input type="radio" id="t30" name="timeInt" Value=30>
                        <span class="radio-btn"></span>
                    </label>
                    
                    <label class="container">1 hour
                        <input type="radio" id="t60" name="timeInt" Value=60>
                        <span class="radio-btn"></span>
                    </label> -->
                <!--</div>-->
            </div>
        </div>
        
        <!-- account -->
        <button type="button" class="menu-button" id='account' onclick='viewCh(this)'>Account</button>
        
        <!-- logout -->
        <!--<button type="button" class="menu-button">-->
        <a class="link-button" href="/login">Logout</a>
        <!--</button>--> <!-- /logout -->

    </div> <!-- /menu --> 
     
    <!-- calendar view navigation -->
    <div class="col-9 views-nav">
        <div class="col-5"></div>
        <div class="col-7 views">
            <button class="btn" id='day' onclick='viewCh(this)'>Day</button>
            <button class="btn" id='week' onclick='viewCh(this)'>Week</button>
            <button class="btn" id='month' onclick='viewCh(this)'>Month</button>
            <!-- BUG FIX 002: hide "Year" view button -->
            <!--<button class="btn" id='year' onclick='viewCh(this)'>Year</button>-->
        </div>
    </div> <!-- /calendar view navigation -->
    
    <!-- main -->
    <div class="col-9 main">
        <!-- calendar header -->
        <div class="row calendar-header">
            <div class="col-3 nav">
                <button class="btn" type="button"  onclick ='back()'>Back</button>
            </div>
            <!-- display month name and year -->
            <div class="col-6 month">
                <!-- BUG FIX 001: delete hard-coded h1 so calendar header displays dynamically -->
            </div>
            <div class="col-3 nav">
                <button class="btn" type="button"  onclick ="forward()">Forward</button>
            </div>
        </div> <!-- /calendar header -->
{% block content %}
{% endblock content %}
    </div> <!-- /main -->
{% block script %}
{% endblock script %}
    <script>
        user={{user|tojson}} 
    </script>
    <script src="{{url_for('static', filename = 'script.js')}}"></script>
</body>
{% endblock body %}