<!DOCTYPE html>
<html>
<head>
    <title>Pro Calendar</title>
    <link rel="stylesheet" href="style.css">
</head>
    
<body>
    <!-- add event modal -->
    <form>
        <fieldset>
            <button style="display:block">Exit</button>
            <label for="title">Title:</label>
            <input type="text" id="title" name="title">
            <label for="date">Date:</label>
            <input type="text" id="date" name="date">
            <label for="time">Time:</label>
            <input type="text" id="time" name="time">
            <label for="group">Group:</label>
            <input type="text" id="group" name="group">
            <label for="descr">Description:</label>
            <textarea id="descr" name="descr" rows="5" cols="27"></textarea>
            <input type="submit" value="Submit">
        </fieldset>
    </form>
    <!-- edit event modal -->
    <form>
        <fieldset>
            <button style="display:block">Exit</button>
            <label for="title">Title:</label>
            <input type="text" id="title" name="title">
            <label for="date">Date:</label>
            <input type="text" id="date" name="date">
            <label for="time">Time:</label>
            <input type="text" id="time" name="time">
            <label for="group">Group:</label>
            <input type="text" id="group" name="group">
            <label for="descr">Description:</label>
            <textarea id="descr" name="descr" rows="5" cols="27"></textarea>
            <button>Delete</button>
            <input type="submit" value="Submit">
        </fieldset>
    </form>
    <!-- event details modal -->
    <div class="details">
        <p>Event Title</p>
        <p>January 13, 2021</p>
        <p>at 14:00-16:00</p>
        <p>Group 2</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
    </div>
</body>
</html>










