{% extends 'menu_layout.html' %}

{% block content %} 
    <!-- monthly layout, 7 columns, 7 rows -->
    <div class="row calendar grid-container-1 ">
        <!-- top row displays Mon-Sun headers -->
        <div class="day grid-col-1"></div>
        <div class="day grid-col-2"></div>
        <div class="day grid-col-3"></div>
        <div class="day grid-col-4"></div>
        <div class="day grid-col-5"></div>
        <div class="day grid-col-6"></div>
        <div class="day grid-col-7 last-col"></div>
        <!-- /top row -->
            
        <!-- miscellaneous row -->
        <div class="grid-col-1">
            <div class="date"></div>
            <div class="event-area"></div>
        </div>
        <div class="grid-col-2">
            <div class="date"></div>
            <div class="event-area"></div>
        </div>
        <div class="grid-col-3">
            <div class="date"></div>
            <div class="event-area"></div>
        </div>
        <div class="grid-col-4">
            <div class="date"></div>
            <div class="event-area"></div>
        </div>
        <div class="grid-col-5">
            <div class="date"></div>
            <div class="event-area"></div>
        </div>
        <div class="grid-col-6">
            <div class="date"></div>
            <div class="event-area"></div>
        </div>
        <div class="grid-col-7 last-col">
            <div class="date"></div>
            <div class="event-area"></div>
        </div>
        <!-- /miscellaneous row -->
           
         <!-- bottom row -->
        <div class="grid-col-1 btm-row">
            <div class="date"></div> 
            <div class="event-area"></div>
        </div>
        <div class="grid-col-2 btm-row">
            <div class="date"></div> 
            <div class="event-area"></div>
        </div>
        <div class="grid-col-3 btm-row">
            <div class="date"></div> 
            <div class="event-area"></div>
        </div>
        <div class="grid-col-4 btm-row">
            <div class="date"></div> 
            <div class="event-area"></div>
        </div>
        <div class="grid-col-5 btm-row">
            <div class="date"></div> 
            <div class="event-area"></div>
        </div>
        <div class="grid-col-6 btm-row">
            <div class="date"></div> 
            <div class="event-area"></div>
        </div>
        <div class="grid-col-7 btm-row last-col">
            <div class="date"></div> 
            <div class="event-area"></div>
        </div>
        <!-- /bottom row -->
    </div>
{% endblock content %}

{% block script %}
<script src="{{url_for('static', filename = 'monthly.js')}}"></script>
{% endblock script %}