<!DOCTYPE html>
<html>
<head>
    <title>Pro Calendar</title>
    <link rel="stylesheet" href="style.css">
</head>
    
<body>
    <!-- add event -->
    <form>
        <fieldset>
            <label for="title">Title:</label>
            <input type="text" id="title" name="title">
            <label for="date">Date:</label>
            <input type="text" id="date" name="date">
            <label for="time">Time:</label>
            <input type="text" id="time" name="time">
            <label for="group">Group:</label>
            <input type="text" id="group" name="group">
            <label for="descr">Description:</label>
            <textarea id="descr" name="descr" rows="5" cols="27"></textarea>
            <input type="submit" value="Submit">
        </fieldset>
    </form>
    <!-- groups -->
    <form>
        <fieldset>
            <div>
                <input type="checkbox" id="group1" name="group1">
                <label for="group1">Group 1</label>
            </div>
            <div>
                <input type="checkbox" id="group2" name="group2">
                <label for="group2">Group 2</label>
            </div>
            <div>
                <input type="checkbox" id="group3" name="group3">
                <label for="group3">Group 3</label>
            </div>
            <input type="button" value="New Group">
        </fieldset>
    </form>
    <!-- settings -->
    <form>
        <fieldset>
            <!-- themes pop-up-->
            <div>
                <input type="radio" id="theme1" name="theme">
                <label for="theme1">Theme 1</label>
                <input type="radio" id="theme2" name="theme2">
                <label for="theme2">Theme 2</label>
                <input type="radio" id="theme3" name="theme3">
                <label for="theme3">Theme 3</label>
            </div>
            <!-- start of week pop-up-->
            <div>
                <p>Start of week</p>
                <input type="radio" id="sun-start" name="sun-start">
                <label for="sunday-start">Sunday</label>
                <input type="radio" id="mon-start" name="mon-start">
                <label for="mon-start">Monday</label>
            </div>
            <!-- week numbers pop-up-->
            <div>
                <p>Show week numbers</p>
                <input type="radio" id="num-wk-yes" name="num-wk-yes">
                <label for="num-wk-yes">Yes</label>
                <input type="radio" id="num-wk-no" name="num-wk-no">
                <label for="num-wk-no">No</label>
            </div>
            <!-- time format pop-up-->
            <div>
                <p>Time format</p>
                <input type="radio" id="12-hr" name="12-hr">
                <label for="12-hr">12 hour</label>
                <input type="radio" id="24-hr" name="24-hr">
                <label for="24-hr">24 hour</label>
            </div>
        </fieldset>
    </form>
</body>
</html>