{% extends 'menu_layout.html' %}

{% block content %}
    <!-- supposed to be weekly layout -->
    <!-- monthly layout, 7 columns, 7 rows -->
    <div class="row calendar grid-container-1 ">
        
        <!-- row1 -->
        <div class="day grid-col-1"></div>
        <div class="day grid-col-2"></div>
        <div class="day grid-col-3"></div>
        <div class="day grid-col-4"></div>
        <div class="day grid-col-5"></div>
        <div class="day grid-col-6"></div>
        <div class="day grid-col-7"></div>
        <div class="day grid-col-8 last-col"></div>
        <!-- /row1 -->
       
        <div class="grid-col-1"></div>
            <div class="grid-col-2"></div>
            <div class="grid-col-3"></div>
            <div class="grid-col-4"></div>
            <div class="grid-col-5"></div>
            <div class="grid-col-6"></div>
            <div class="grid-col-7"></div>
            <div class="grid-col-8 last-col"></div>
            <!-- /row2 -->
            
            <!--row14 -->
            <div class="grid-col-1 btm-row"></div>
            <div class="grid-col-2 btm-row"></div>
            <div class="grid-col-3 btm-row"></div>
            <div class="grid-col-4 btm-row"></div>
            <div class="grid-col-5 btm-row"></div>
            <div class="grid-col-6 btm-row"></div>
            <div class="grid-col-7 btm-row"></div>
            <div class="grid-col-8 btm-row last-col"></div>
        <!-- /row7 -->
    </div>
{% endblock content %}

{% block script %}
<script src="{{url_for('static', filename = 'weekly.js')}}"></script>
{% endblock script %}
